@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
  --grape: #94618e;
  --eggplant: #49274a;
  --sand: #f4decb;
  --shell: #f8eee7;
}

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 4em;
  margin: 0;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1em;

  margin: 0;
}

p {
  font-family: "Helvetica", sans-serif;
}

.button {
  background-color: var(--shell);
  border: none;
  font-weight: 600;
  color: var(--eggplant);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--grape);
  color: var(--shell);
}

.card {
  border-radius: 10px;
  border-bottom: 5px solid var(--sand);
}

main {
  /* width: 100%; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--grape);
  padding: 0 10px;
}

.logo a {
  text-decoration: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
  padding: 5px 0;
  max-width: 120px;
}

nav {
  position: relative;
}

nav a {
  display: block;
  padding: 1.5rem 0.75rem;
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.menu {
  position: absolute;
  background-color: var(--grape);
  left: -110px;
  width: 200px;
  margin: 0;
  padding: 5px;
  list-style: none;
  display: none;
}

.menu li {
  width: 100%;
}

.menu a {
  display: block;
  padding: 0.75rem;
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.menu a:hover,
a.active {
  color: var(--grape);
  background-color: white;  
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.7)),
    url("../images/caleb-george-landscape.jpg");
  background-position: bottom center;
  color: var(--shell);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
}

.hero h2 {
  font-size: 1.3rem;
}

.info {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  padding: 10px;
  gap: 50px;
}

.info h1 {
  margin: 50px 0 20px 0;
  font-size: 30px;
}

.info .card {
  background-color: var(--eggplant);
  margin: 0 20px;
  text-align: center;  
  border-radius: 10px;
}

.info .card img {
  width: 100%;
}

.card-content {
  color: var(--sand);
  padding: 20px 0;
}

.card-content hr {
  width: 200px;
  color: var(--sand);
}

.weather {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.weather .card {
  background-color: var(--grape);
  padding: 20px;
  margin: 30px;
  width: 50%;
  font-size: 1em;
  text-align: center;  
}

footer {
  background-color: #141414;
  color: white;
  padding: 20px;
  text-align: center;
}

.social-icon {
  height: 40px;
  padding: 5px;
  margin: 0px;
}

.link {
  color: white;
  text-decoration: none;
}

.rental-info {
  padding: 10px;
}

.contact h1, .reservations h1, .rental-info h1, .table h1 {
  font-size: 1.4rem;  
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.rental-info ul {
  list-style: "❕ ";
  line-height: 1.4;
}

table {
  text-align: left;
  border-collapse: collapse;  
}

table,
th,
td {
  border: 1px solid var(--eggplant);
}

th,
td {
  padding: 5px;
}

form {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

form fieldset {  
  border: 1px solid var(--grape);
  border-radius: 5px;
}

form legend {  
  font-weight: 600;
  color: var(--grape);  
  padding: 0 0.5rem;
}

form div {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 150px 1fr;  
  align-items: center;  
}

form label {
  display: block;  
}

form input {
  height: 30px;
}

.agreement {
  font-size: .8rem;
  text-align: justify;
  list-style: decimal;
}

.thanks {
  height: 70vh;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;  
}

.locationDiv {
  text-align: center;
  padding: 10px;
}

.contact .iframe-container {
  margin: 0;
}

