@media only screen and (min-width: 60em) {  
  .info {
    grid-template-columns: repeat(3, 1fr);
  }

  .info h1 {
    grid-column: span 3;
  }

  .weather {
    flex-direction: row;
  }

  .contact h1,
  .reservations h1,
  .rental-info h1,
  .table h1 {
    font-size: 2rem;    
  }

  .rental-info ul {    
    margin: 0 auto;
  }

  table {
    margin: 0 auto;
    width: 100%;
  }

  .reservations form {
    width: 600px;
  }  

  .contact form {
    width: 600px;
  }

  .contact .iframe-container {
    margin: 0;
  }
}
