@media only screen and (min-width: 32.5em) {
  nav a {
    display: none;
  }
  .menu {
    display: flex;
    position: relative;
    background-color: inherit;
    left: 0;
    width: auto;
    padding: 10px;
  }

  .info {
    grid-template-columns: repeat(2, 1fr);
  }

  .info h1 {
    grid-column: span 2;
  }  

  .card-content hr {
    width: 250px;    
  }

  .weather {    
    flex-direction: row;
  }
}
