@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");

:root {
  --bg-color: #1a1a1a;
  --mt: 40px;
  --mb: 20px;
}

*,
html {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #222;
}

h1 {
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 1px solid var(--bg-color);
}

main {
  margin-bottom: 100px;
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--bg-color);
  color: #ffffff;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.top nav {
  display: none;
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
  padding: 5px;
}

.brand span:nth-child(2) {
  font-size: 16px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  padding: 2px;
  height: 30px;
  width: 30px;
  border: 2px solid #fff;
  border-radius: 50px;
  cursor: pointer;
}

.hamburger span,
.hamburger span::before,
.hamburger span::after {
  margin-top: 4px;
  font-weight: bold;
  height: 2px;
  width: 20px;
  background-color: #fff;
}

.hamburger span:first-child {
  margin-top: 0;
}

.bottom {
  position: relative;
  display: none;
  background-color: var(--bg-color);
  color: #ffffff;
  z-index: 999;
}

.bottom nav {
  display: flex;
  align-items: center;
}

.bottom nav ul {
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bottom nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 40px;
  list-style: none;
  margin-top: 5px;
  border-radius: 2px;
}

.bottom nav ul li a {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  width: 100%;
}

.bottom nav ul li:hover {
  background-color: #000000;
}

.bottom nav ul li:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: #fff;
  padding: 5px;
  border-radius: 2px;
  text-align: center;
}

.bottom nav ul li:last-child a {
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #1a1a1a;
}

.bottom nav ul li:last-child:hover,
.bottom nav ul li:last-child a:hover {
  background-color: #000000;
  color: #fff;
}

.hero {
  height: 250px;
  position: relative;
}

.hero img {
  width: 100%;
  height: 100%;
}

.cta1 {
  background-color: #fff;
  opacity: 0.9;
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  position: absolute;
  padding: 20px;
  border-radius: 2px;
  top: 140px;
  right: 90px;
}

.cta1 p {
  font-size: 12px;
}

.cta1 a {
  text-decoration: none;
  color: #fff;
  background-color: #1a1a1a;
  border-radius: 2px;
  padding: 10px;
  font-size: 10px;
}

.mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var(--mt);
  padding: 0 40px;
}

.mission p {
  font-size: 14px;
  text-align: center;
}

.event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var(--mt);
  padding: 0 40px;
}

.event-list {
  margin-top: var(--mt);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.event-list img {
  width: 100%;
  height: 200px;
}

.event-list .card {
  background-color: #fff;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0px -0.5px 1px 1.5px #ddd;
}

.event p {
  font-size: 12px;
}

.event a {
  background-color: var(--bg-color);
  color: #fff;
  text-decoration: none;
  font-size: 10px;
  padding: 3px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cta2 {
  margin-top: var(--mt);
  margin-bottom: var(--mb);
  background-color: var(--bg-color);
  padding: 20px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.cta2 a {
  background-color: #fff;
  color: var(--bg-color);
  text-decoration: none;
  padding: 5px;
  border-radius: 2px;
}

.sponsor {
  margin-top: var(--mt);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 var(--mb);
}

.sponsor-list {
  margin-top: var(--mt);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.sponsor-list img {
  width: 100%;
}

.spotlight {
  display: flex;
  margin-top: var(--mt);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--mb);
}

.spotlight-list {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: var(--mt);
  gap: 10px;
  width: 300px;
}

.spotlight-list .card {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  text-align: center;
  background: var(--bg-color);
  color: #fff;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0px -0.5px 1px 1.5px #eee;
}

.spotlight-list .card:hover {
  padding: 2px;
  transition: all 0.5s;
}

.spotlight-list img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 300px;
  margin: 0 auto;
}

.meeting-notice {
  display: flex;
  width: 100%;
  align-items: center;
  position: absolute;
  background-color: #fff;
  color: #1a1a1a;
  font-weight: 600;
  font-size: 18px;
  top: 0;
  gap: 10px;
}

.meeting-notice span {
  cursor: pointer;
  padding: 10px;
}

.meeting-notice .close-btn {
  font-size: 14px;
  border: 1px solid #ccc;
}

.location,
#country {
  color: #44097a;
  font-weight: 700;
  font-size: 24px;
}

#current-temp {
  color: #ab031c;
  font-weight: 700;
  font-size: 24px;
}

.weather .card {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0px -0.5px 1px 1.5px #eee;
}

#div-join {
  display: block;
  margin: 0 auto;
  width: 400px;
}

#memberships {
  display: block;
  margin: 0 auto;
  width: 400px;
}

#memberships p {
  text-align: left;
  padding: 12px;
}

.form-box input,
.form-box textarea {
  padding-left: 3px;
}

.form-box button {
  background-color: #ab031c;
  color: #fff;
  border: none;
  padding: 0.5rem;
}

select,
option,
input,
label,
button {
  padding: 0.2rem 0rem;
  font-size: 1rem;
  color: #ab031c;
}
.form-box {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.form-box textarea {
  flex-basis: 100%;
}

#thank-you {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#thank-you p {
  font-size: 24px;
}

#content {
  width: 100%;
  margin: 0 auto;
}
.cardsgrid {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.cardsgrid section {
  padding: 30px;
  text-align: center;
  width: 300px;
  margin: 20px;
}
.cardsgrid section:hover {
  box-shadow: 5px 5px 9px 3px #888888;
}

.cardsgrid img {
  width: 90%;
}

.cardslist {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.cardslist section {
  color: #1a1a1a;
  padding: 30px;
  text-align: center;
}
.cardslist section:hover {
  box-shadow: 5px 5px 9px 3px #888888;
}

.cardslist img {
  width: 90%;
}

.menu button {
  cursor: pointer;
  padding: 1rem;
  background-color: #ab031c;
  color: #fff;
  border: none;
}

section {
  padding: 0.5rem;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.cardslist section {
  display: flex;
  align-items: center;
}

.cardsgrid section {
  flex-direction: column;
  text-align: center;
}

.cardsgrid section > * {
  margin: 0.1rem;
}

.cardslist section {
  flex-direction: row;
  justify-content: left;
}

.cardslist section > * {
  margin: 0 1rem;
  text-align: left;
}

.cardslist section img {
  display: none;
}
.cardslist section .phone {
  display: none;
}
.cardslist section .address {
  display: none;
}

section h3 {
  font-size: 1.5rem;
}

section a {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 0.9rem;
}

img {
  max-width: 100%;
}

.discover {
  display: grid;
  grid-template-columns: 1fr;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  gap: 20px;
  justify-content: center;
}

.card {
  box-shadow: 0px 0px 10px #efefef;
}

.card header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

header .icons {
  display: flex;
}

header .icons span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}

.icons span:last-child {
  margin-right: -10px;
}

header .icons span:hover {
  background: #f2f2f2;
}

header .current-date {
  font-size: 1.45rem;
  font-weight: 500;
}

.calendar {
  padding: 20px;
}

.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.calendar .days {
  margin-bottom: 20px;
}

.calendar li {
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}

.calendar .weeks li {
  font-weight: 500;
  cursor: default;
}

.calendar .days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}

.days li.inactive {
  color: #1a1a1a;
}

.days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.days li.active::before {
  background: #1a1a1a;
}

.days li:not(.active):hover::before {
  background: #f2f2f2;
}

.sidebar .card .population {
  text-align: center;
  padding: 20px;
  line-height: 1.5;
}

.content {
  padding: 10px;
}

.content .image {
  box-shadow: 0px 0px 10px #efefef;
  border-radius: 5px;
  margin-bottom: 50px;
}

.content .image .caption {  
  min-width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 15px;
}

@media (min-width: 700px) {
  .list section img {
    display: block;
  }
}

footer {
  position: relative;
  background-color: #444;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  bottom: 0;
  top: 0;
}

footer p {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 0;
}
