@media screen and (min-width: 520px) {
    nav ul {
        display: flex;
        flex-direction: row;
    }

    nav ul li {
        font-size: 16px;
    }

    main h2 {
        font-size: 30px;
    }

    .card {
        grid-column: span 1;
    }

    .card ul li {
        font-size: 16px;
    }

    .card.map {
        grid-column: span 2;
    }

    .menu {
        display: none;
    }
}